<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyectos en Laravel</title>

    <link rel="stylesheet" href="css/laravel.css">
    <link rel="shortcut icon" href="https://cdn.worldvectorlogo.com/logos/laravel-2.svg">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>
<body>
    
    <div id="inicio" class="banner fade-in-up">
        <h1>Mis Proyectos de Laravel</h1>
        <p>Explorando el poder de Laravel a través de proyectos innovadores</p>
    </div>

    <div class="container">
        <div id="que-es-laravel" class="laravel-info fade-in-up">
            <img src="https://cdn.worldvectorlogo.com/logos/laravel-2.svg" alt="Logo de Laravel" class="laravel-logo">
            <div class="laravel-description">
                <h2>¿Qué es Laravel?</h2>
                <p>Laravel es un framework de aplicaciones web con sintaxis expresiva y elegante. Creemos que el desarrollo debe ser una experiencia agradable y creativa para ser verdaderamente satisfactorio. Laravel intenta eliminar el dolor del desarrollo facilitando las tareas comunes utilizadas en la mayoría de los proyectos web.</p>
            </div>
        </div>

        <h2 id="mis-proyectos">Mis proyectos</h2>
        <div class="projects-container" id="projectsContainer"></div>
    </div>

    <footer>
        <div class="footer-content">
            <div class="footer-section">
                <h3>Navegación</h3>
                <ul>
                    <li><a href="#inicio">Inicio</a></li>
                    <li><a href="#que-es-laravel">¿Qué es Laravel?</a></li>
                    <li><a href="#mis-proyectos">Mis Proyectos</a></li>
                    <li><a href="index.html" target="_blank">Mi Portafolio</a></li>
                </ul>
            </div>
            <div class="footer-section">
                <h3>Contacto</h3>
                <div class="social-icons">
                    <a href="https://www.instagram.com/jorgegtz.1110" target="_blank"><i class="fab fa-instagram"></i></a>
                    <a href="https://twitter.com/Eliasgtz_1110" target="_blank"><i class="fab fa-twitter"></i></a>
                    <a href="mailto:Jorge.Gutierrez.11104@gmail.com"><i class="fas fa-envelope"></i></a>
                    <a href="https://github.com/Jorge-Gutierrez-1110" target="_blank"><i class="fab fa-github"></i></a>
                    <a href="index.html#contacto" target="_blank"><i class="fas fa-comment"></i></a>
                </div>
            </div>
        </div>
        <div class="copyright">
            <p>&copy; 2024 Jorge Gutierrez.</p>
        </div>
    </footer>

    <script src="js/laravel.js"></script>

</body>
</html>