/* Esta clase es la más importante. Debe ocultar cualquier elemento que la tenga. */
.hidden {
    display: none !important;
}

/* Estilos para el Modal de Recorte */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex; /* Si no está oculto, que se muestre como flex */
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 90vw;
    max-height: 90vh;
}

.img-container {
    max-width: 70vw;
    max-height: 60vh;
    margin-bottom: 1rem;
}

#image-to-crop {
    display: block;
    max-width: 100%;
}